body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #171919;
  text-transform: uppercase;
  color: #fff;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;

}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-o{
  max-width: 1440px;
  margin: 0 auto;
}

.section-o {
  padding-top: 157px;
  padding-bottom: 58px;
}

.title-o {
  font-weight: 800;
  font-size: 80px;
  line-height: 156px;
  text-transform: uppercase;
  padding-left: 245px;
  color: #FFFFFF;
  position: relative;
  display: inline-block;

  &::before {
    content: attr(data-title);
    position: absolute;
    left: -10%;
    top: 40%;
    color: rgba(#fff, .02);
    font-weight: 800;
    font-size: 200px;
    line-height: 156px;
    text-transform: uppercase;
  }

  &:after {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #4AF6CD;
    position: absolute;
    top: 30px;
    right: 0;
  }
}

.subtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 80px;
  &.left{
    margin-left: 80px;
    .subtitle-top{
      padding-left: 0;
      padding-right: 103px;
      &::before{
        left: auto;
        right: 0;
      }
    }
  }
  &-top {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    opacity: 0.5;
    display: inline-block;
    text-transform: uppercase;
    padding-left: 103px;
    margin-bottom: 8px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 1px;
      background-color: #fff;
      top: 50%;
      left: 0;
    }
  }

  &-bottom {
    font-weight: 800;
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
    span{
      font-weight: 100;
    }
  }
}

.link-btn{
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  display: block;
  text-align: center;
  span{
    background-color: #4AF6CD;
    position: relative;
    margin-left: 8px;
    padding: 16px 47px 16px 17px;
    &::before{
      content: "";
      width: 20px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: -10px
    }
    &::after{
      content: "";
      background-image: url("../images/arrows-right.svg");
      background-repeat: no-repeat;
      width: 24px;
      height: 20px;
      position: absolute;
      right: 17px;
      top: 35%;
    }
  }
}
