
.menu {
  padding-top: 40px;

  a {
    color: #ffffff;

    span {
      display: block;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 3px;
      padding-top: 6px;
      margin-bottom: 20px;
    }
  }
}
